version: '3.8' # Specify the version

services:
  www:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mysql
    restart: always
    volumes:
       - ./mysql_data:/var/lib/mysql
       - ./Lavender_website/lavender.sql:/docker-entrypoint-initdb.d/lavender.sql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} # Use environment variable

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8082:80
    depends_on:
      - db
    environment:
      - PMA_ARBITRARY=1
