body {
  

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        background-color: #D8BFD8;

}

h1 {
    margin-top: 50px;
    color: #4B0082;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(75,0,130,0.3);
    margin-top: 20px;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #6a00c1;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.signup-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.signup-btn {
    padding: 8px 15px;
    background-color: #4B0082;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
}

.signup-btn:hover {
    background-color: #6a00c1;
}


.google-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-decoration: none;
    font-size: 18px;
}
.google-btn  img {
    width: 25px;
    height: 25px;
}

/* Responsive */
@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .login-form button, .google-btn {
        font-size: 14px;
        padding: 10px;
    }
}