body {

    background-color: #D8BFD8; 
    margin: 0;
    font-family: sans-serif;
    direction: rtl;
    padding: 20px;
}

h1 {
    margin: 100px;
    text-align: center;
    margin-bottom: 30px;
     font-family: 'Pacifico' ,sans-serif;

}

.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;

}

.filters form select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    inline-size: 200px;
}

.products-grid {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.product-card {
    background: #f7f7f7;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px #ddd;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 10px;
}

/* Responsive  */
@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .product-card img {
        height: 140px;
    }

    h1 {
        font-size: 2rem;
    }
}